/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader.hidden {
  display: none;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #ccc;
  border-top-color: #1d72b8;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/* ------------------------------------------------ */

.form {
  display: flex;
  justify-content: center;
  margin-top: 36px;
  margin-bottom: 32px;
  gap: 8px;
}

.input-text {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  width: 272px;
  height: 40px;
}
.input-text:hover {
  border: 1px solid #000000;
}

.input-text:focus {
  border: 1px solid #4e75ff;
}

.form button {
  padding: 8px 16px;
  background-color: #4f7cff;
  color: #fff;
  width: 91px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: #6c8cff;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 20px;
  margin: 20px;
  list-style: none;
  padding: 0;
  justify-content: center;
  max-width: calc(360px * 3 + 20px * 2);
  margin: 0 auto;
}

.gallery-item {
  width: 360px;
  height: 200px;

  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  margin: 0 auto;
}

.gallery-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.gallery-item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;

  padding: 15px 10px 10px;
}

.gallery-item .info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.gallery-item .info li {
  font-weight: 400;
  text-align: center;
  margin: 0 5px;
  line-height: 2;
}

.gallery-item .info li b {
  font-weight: 600;
  display: block;

  line-height: 2;
  opacity: 0.9;
}
